<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util"
     xmlns:fw="http://wixtoolset.org/schemas/v4/wxs/firewall">
  <Package Name="BeeMemoryBank Server" Manufacturer="BeeMemoryBank Contributors"
           Version="$(var.InstallerVersion)" UpgradeCode="F5D7CEE1-3A26-4C5C-99B7-798B5F956DF1"
           Scope="perMachine">
    
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <!-- Directory Structure -->
    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="BeeMemoryBank">
        <Directory Id="BmbdFolder" Name="bmbd" />
        <Directory Id="ApiFolder" Name="api" />
        <Directory Id="WebFolder" Name="web" />
        <Directory Id="CliFolder" Name="cli" />
      </Directory>
    </StandardDirectory>

    <StandardDirectory Id="CommonAppDataFolder">
      <Directory Id="CommonAppBeeMemoryBank" Name="BeeMemoryBank" />
    </StandardDirectory>

    <!-- Components -->
    <ComponentGroup Id="ProductComponents">
      <!-- Service Component (explicit file + service registration) -->
      <Component Directory="BmbdFolder" Guid="6655A7F8-E73F-4ED6-B10A-F597AE2A4CF8">
        <File Source="$(var.PublishFolder)\bmbd\BeeMemoryBank.Node.exe" KeyPath="yes" />
        
        <ServiceInstall Id="BmbdServiceInstall" Name="bmbd" DisplayName="BeeMemoryBank Node Service"
                        Description="Runs the BeeMemoryBank node as a background service."
                        Type="ownProcess" Start="auto" ErrorControl="normal"
                        Account="NT SERVICE\bmbd"
                        Arguments="--auto --data &quot;[CommonAppDataFolder]BeeMemoryBank&quot;" />
        
        <ServiceControl Id="BmbdServiceControl" Name="bmbd" Start="install" Stop="both" Remove="uninstall" Wait="yes" />
        
        <ServiceConfig ServiceName="bmbd" DelayedAutoStart="yes" OnInstall="yes" OnReinstall="yes" />
        
        <RegistryValue Root="HKLM" Key="SYSTEM\CurrentControlSet\Services\bmbd"
                       Name="DelayedAutoStart" Type="integer" Value="1" />
      </Component>

      <!-- Data Folder with permissions for the virtual service account -->
      <Component Id="CreateDataFolder" Directory="CommonAppBeeMemoryBank" Guid="E6347A22-38B0-449C-A85A-FA2309C5A85A">
        <CreateFolder />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="BmbdFiles" Directory="BmbdFolder">
      <Files Include="$(var.PublishFolder)\bmbd\**">
        <Exclude Files="$(var.PublishFolder)\bmbd\BeeMemoryBank.Node.exe" />
      </Files>
    </ComponentGroup>

    <ComponentGroup Id="ApiFiles" Directory="ApiFolder">
      <Files Include="$(var.PublishFolder)\api\**" />
    </ComponentGroup>

    <ComponentGroup Id="WebFiles" Directory="WebFolder">
      <Files Include="$(var.PublishFolder)\web\**" />
    </ComponentGroup>

    <ComponentGroup Id="CliFiles" Directory="CliFolder">
      <Files Include="$(var.PublishFolder)\cli\**" />
    </ComponentGroup>

    <!-- Firewall Rule Component -->
    <DirectoryRef Id="BmbdFolder">
      <Component Id="FirewallRulesComponent" Guid="A76F32E5-23F7-4180-87F7-BE6CA5F15647">
        <RegistryValue Root="HKLM" Key="SOFTWARE\BeeMemoryBank\Firewall"
                       Name="RulesInstalled" Type="integer" Value="1" KeyPath="yes" />
        <fw:FirewallException Id="NodeHttpFirewallException" Name="BeeMemoryBank Node HTTP (5310)"
                              Port="5310" Protocol="tcp" Scope="any" IgnoreFailure="yes" />
        <fw:FirewallException Id="NodeHttpsFirewallException" Name="BeeMemoryBank Node HTTPS (5311)"
                              Port="5311" Protocol="tcp" Scope="any" IgnoreFailure="yes" />
      </Component>
    </DirectoryRef>

    <!-- Features -->
    <Feature Id="MainFeature" Title="BeeMemoryBank Server Service" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="BmbdFiles" />
      <ComponentGroupRef Id="ApiFiles" />
      <ComponentGroupRef Id="WebFiles" />
      <ComponentGroupRef Id="CliFiles" />

      <!-- Opt-in Firewall Feature (Level 2 = off by default when INSTALLLEVEL=1) -->
      <Feature Id="FirewallFeature" Title="Configure Windows Firewall Exception" Level="2"
               Description="Adds inbound Windows Firewall rules to allow other devices to connect to BeeMemoryBank on HTTP (5310) and HTTPS (5311) ports.">
        <ComponentRef Id="FirewallRulesComponent" />
      </Feature>
    </Feature>

    <!-- Custom Action to reset ACL and disable inheritance on the data folder -->
    <CustomAction Id="SetFolderACL"
                  Directory="INSTALLFOLDER"
                  ExeCommand="&quot;[SystemFolder]icacls.exe&quot; &quot;[CommonAppBeeMemoryBank].&quot; /inheritance:r /grant:r &quot;SYSTEM:(OI)(CI)F&quot; &quot;*S-1-5-32-544:(OI)(CI)F&quot; &quot;NT SERVICE\bmbd:(OI)(CI)M&quot;"
                  Execute="deferred"
                  Impersonate="no"
                  Return="check" />

    <InstallExecuteSequence>
      <Custom Action="SetFolderACL" After="InstallFiles" Condition="NOT REMOVE=&quot;ALL&quot;" />
    </InstallExecuteSequence>

  </Package>
</Wix>
